h2{
  text-align: center;
}
.class{
  text-align: center;
}
.effect{
  text-align: center;
  background-color: black;
  color: white;
  font-size: 40px;
}
img{
 height: 50%;
 weight: 50%;
}
